<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Fiuba</title>
        <!-- import plugin script -->
        <script src='../../static/Chart.min.js'></script>
    </head>
    <body>
    <div style="text-align: center">
        <h3>{{ date }}</h3>
    </div>
    <div style="text-align: center">
        <a style="display: inline" href={{ previous }}>previous</a>
        <h1 style="display: inline">Page: {{page}}</h1>
        <a style="display: inline" href={{ next }}>next</a>
    </div>
        <!-- bar chart canvas element -->
        <canvas id="chart" height="115"></canvas>

        <script>

            var getRandomColor = function () {
                var red = Math.floor(Math.random() * 255);
                var green = Math.floor(Math.random() * 255);
                var blue = Math.floor(Math.random() * 255);
                return "rgba(" + red + ", " + green + ", " + blue + ",0.2)";
            }

            var getRandomColors = function (size) {
                var i = 0;
                var r = [];
                while(i < size) {
                    r.push(getRandomColor())
                    i++;
                }
                return r
            }

            var ctx = document.getElementById("chart").getContext("2d");
            var data = {
                labels: [{% for item in labels %}
                                "{{item}}",
                         {% endfor %}],
                datasets: [
                    {
                        label: "App error count",
                        backgroundColor: getRandomColors({{ values | length}}),
                        borderWidth: 1,
                        data:[{% for item in values %}
                                  {{item}},
                                {% endfor %}]

                    }
                ]
            };
            var myBarChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: data,
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    </body>
</html>